<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First UI returning from Django</title>
    <style>
        body{
            background-color: black;
        }
      h1 {
        background-color: blue;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
        align-content: baseline;
      }
      p {
        color: brown;
        background-color: darkorange;
      }
    </style>
  </head>
  <body>
    <h1 style="color: chartreuse">Learning Django</h1>
    <p>Python is a amazing programming</p>
  </body>
</html>
